.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.75);
}

.modal {
  position: fixed;
  bottom: 0vh;
  width: 100vw;
  height: 30vh;
  background-color: #e6e9f0;
  border-top-left-radius: 8vh;
  border-top-right-radius: 8vh;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 30;
  animation: slide-up 500ms ease-out forwards;
  display: flex;
  flex-direction: column;
}

.modalTitle {
  height: 10%;
  margin-bottom: 1vh;
  margin-top: 2vh;
  display: flex;
  font-size: 2.2vh;
  margin-left: 8vw;
  align-items: center;
  color: #d87c27;
}

@keyframes slide-up {
  from {
    opacity: 0;
    transform: translateY(7rem);
  }
  to {
    opacity: 1;
    transform: translateY(0rem);
  }
}
