.eventCard {
  width: 90vw;
  height: 80px;
  box-sizing: border-box;
  box-shadow: 0 0 1px 2px rgba(128, 128, 128, 0.167);
  margin-bottom: 1.3vh;
  display: flex;
  border-radius: 2vh;
  animation: slide-down 300ms ease-in forwards;
  transition: 300ms;
}

.img {
  height: 80px;
  width: 20%;
  border-radius: 2vh;
}

.info {
  box-sizing: border-box;
  padding: 1vh;
  display: flex;
  flex-direction: column;
}

.date {
  font-size: 0.8em;
  color: #ea9b6b;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-bottom: 1vh;
}

@media only screen and (min-width: 760px) {
  .eventCard {
    width: 50vw;
    height: 11vh;
    box-shadow: 0 0 1px 2px rgba(128, 128, 128, 0.167);
    margin-bottom: 3vh;
    display: flex;
  }

  .img {
    width: 10%;
    height: auto;
    transform: scale(0.8);
    padding: 0px;
    margin: 0px;
  }
  .upcomingEvents {
    margin-bottom: 2vh;
    margin-top: 1vh;
  }

  .date {
    font-size: 2.5vh;
    color: #ea9b6b;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    margin-bottom: 1vh;
  }

  .location {
    font-size: 2.4vh;
  }
}

@keyframes slide-down {
  0% {
    transform: translateY(-4vh);
    opacity: 0;
  }

  100% {
    transform: translateY(0vh);
    opacity: 1;
  }
}
