.home {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  transform: translateX(-100vw);
  animation: slide-down 500ms forwards;
}
.header {
  height: 10%;
  width: 100vw;
  background: rgb(216, 124, 39);
  background: linear-gradient(
    180deg,
    rgb(216, 124, 39) 0%,
    rgba(236, 168, 73, 0.08735994397759106) 100%
  );
  display: flex;
  flex-direction: row;
  align-items: center;
}

.backBtn {
  position: absolute;
  left: 5vw;
}

.pageTitle {
  position: absolute;
  left: 15vw;
  font-weight: 300;
  font-size: 2.8vh;
}

.tabContainer {
  width: 70vw;
  margin: auto;
  height: 5%;
  background-color: #c7c6c638;
  border-radius: 5vh;
  margin-top: 2vh;
  margin-bottom: 2vh;
  display: flex;
  box-sizing: border-box;
  padding: 2vw;
}

.tabItem {
  width: 50%;
  height: 100%;
  border-radius: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(80, 80, 80);
  transition: 700ms;
}

@keyframes slide-down {
  0% {
    transform: translateX(-100vw);
    opacity: 0;
  }

  100% {
    transform: translateX(0vw);
    opacity: 1;
  }
}
